textarea {
    border-color: #dfdfdf;
    min-width: 350px;
}

input {
    min-width: 350px;
}

input, label {
    display: block;
}

.label-line {
    display: flex;
}

label.inactive {
    color: rgba(0, 0, 0, 0.3);
}

input.inactive {
    display: none;
}

form {
    margin-left: 20px;
    margin-top: 20px;
}

.close {
    color: #dc0808;
    float: none;
}

.close:hover {
    color: #dc0808;
}

a.add-item {
    border: 1px solid;
    border-radius: 20px;
    padding: 2px 10px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

/* toggle */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-top: 4px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.98);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #000000;
}

input:focus + .slider {
    box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

a:not([href]):not([tabindex]) {
    color: white;
}
a:not([href]):not([tabindex]):hover {
    color: white;
    cursor: pointer;
}

.modalwindow input {
    width: 100%;
    min-width: 100px;
}

.inline{
    float: left;
}

select.branch {
    margin-right: 10px;
}