iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    display: list-item;
}

.root {
    height: 100vh;
    width: 100%;
    position: relative;
}

.col-body{
    padding-left: 100px;
}

.col-title{
    margin: 0px;
}

.branch {
    width: 80px;
    margin: 0px 10px;
    font-size: 10px;
}