.root {
    margin-top: 100px;
    font-size: 14px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 200px;
    margin-bottom: 3px;
}

label {
    min-width: 50px;
    margin-right: 5px;
}

button {
    height: 26px;
    border-radius: 10px;
    background-color: #c9c9c9;
}

form {
    padding: 10px;
    border: 1px black solid;
    border-radius: 10px;
}

.link {
    color: #0056b3;
    font-size: 12px;
}

.link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.error{
    color: red;
    font-weight: bold;
}

.info {;
    color: rgba(0, 0, 217, 0.86);
    font-weight: bold;
}